@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")



@{
    var info = new SimplisityInfo();
    var articleData = (ArticleLimpet)Model.List.First();
    if (articleData.Info != null)
    {
        info = articleData.Info;
    }
    var portalCatalog = new PortalCatalogLimpet(articleData.PortalId, DNNrocketUtils.GetEditCulture());
    var appThemeSystem = new AppThemeSystemLimpet(portalCatalog.SystemKey);
    var sessionParams = Model.SessionParamsData;

}

@RenderLanguageSelector("articleadmin_editarticle", "{\"articleid\":\"" + articleData.ArticleId + "\"}", appThemeSystem, Model)

<div id="articleedit">

    <div id="articleeditcontent" class='w3-animate-opacity '>

        <div class="w3-bar  w3-padding">
            <div class="w3-button simplisity_click" s-cmd="articleadmin_editlist" s-fields=''>@ButtonIcon(ButtonTypes.back)</div>
            <div class="w3-button w3-theme-action simplisity_click savearticlebutton langchangesave" s-before="articlerichtextSave" s-cmd="articleadmin_savedata" s-post="#articledatasection" s-list=".@articleData.ImageListName,.@articleData.DocumentListName,.@articleData.LinkListName" s-fields='{"articleid":"@articleData.ArticleId"}'>@ButtonText(ButtonTypes.save)</div>
            @if (articleData.Exists)
            {
                <div class="w3-button simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.copy")&nbsp;?" s-cmd="articleadmin_copy" s-fields='{"articleid":"@info.ItemID"}'>@ButtonText(ButtonTypes.copy)</div>
            }
            <div class="w3-button w3-right w3-margin-right w3-red simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.delete","","confirm")" s-cmd="articleadmin_delete" s-fields='{"articleid":"@articleData.ArticleId"}'>@ButtonText(ButtonTypes.delete)</div>
        </div>


        <div id="articledatasection" class="">
            <div class='w3-row'>
                <div class="w3-quarter w3-padding">
                    <label>@ResourceKey("RC.ref")</label>
                    @TextBox(info, articleData.RefXPath, " class='w3-input w3-border' autocomplete='off' ", "", false, 0)
                </div>
                <div class="w3-half w3-padding">
                    <label>@ResourceKey("RC.name")</label>&nbsp;@EditFlag(sessionParams)
                    @TextBox(info, articleData.NameXPath, " class='w3-input w3-border' autocomplete='off' ", "", true, 0)
                </div>
                <div class="w3-quarter w3-padding">
                    <label>Price</label>
                    @TextBox(info, "genxml/textbox/price", " class='w3-input w3-border' autocomplete='off' ", "", false, 0)
                </div>
                <div class="w3-padding">
                    <label>@ResourceKey("RC.summary")</label>&nbsp;@EditFlag(sessionParams)
                    @TextArea(info, articleData.SummaryXPath, " class='w3-input w3-border' autocomplete='off' ", "", true, 0)
                </div>
                <div class="w3-quarter w3-padding">
                    <label>@ResourceKey("RC.ref")</label>
                    @TextBox(info, "genxml/textbox/test", " class='w3-input w3-border' autocomplete='off' ", "", false, 0)
                </div>

                <div class="w3-padding">

                    <div id="categoriestab" class='w3-row sectionname a-articlecategorylist'>
                        @RenderTemplate("ArticleCategoryList.cshtml", appThemeSystem, Model, true)
                    </div>

                </div>
            </div>
        </div>

        <div class="w3-padding" >
            @if (UserUtils.IsInRole("Administrator"))
            {
                <div class="w3-container">
                    <div class="w3-right">
                        @RenderXml(info)
                    </div>
                </div>
            }
            <i>ID: </i> @info.ItemID <i> GuidKey:</i> @info.GUIDKey
        </div>

    </div>

</div>
