@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketPortal.Components;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")

@{ var sessionParams = (SessionParams)Model.SessionParamsData;

    PortalCatalogLimpet portalCatalog = null;
    var articleDataList = (ArticleLimpetList)Model.GetDataObject("articlelist");
    portalCatalog = articleDataList.PortalCatalog;
    var portalData = new PortalLimpet(portalCatalog.PortalId);
    var categoryList = new CategoryLimpetList(portalCatalog.PortalId, DNNrocketUtils.GetCurrentCulture());

    var catid = sessionParams.GetInt("catid");
    if (catid == 0)
    {
        catid = portalCatalog.DefaultCategoryId;
    }
    var categoryData = new CategoryLimpet(portalCatalog.PortalId, catid, DNNrocketUtils.GetCurrentCulture());

@AddProcessData("resourcepath", "/DesktopModules/RocketThemes/" + portalCatalog.AppTheme.AppThemeFolder + "/" + portalCatalog.AppTheme.AppVersionFolder + "/resx/") }

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="">


    <div class="">
        <div class="w3-bar w3-theme w3-left-align w3-large ">
            @{ var catcolor = ""; }
            @foreach (CategoryLimpet c in categoryList.GetCategoryList())
            {
                if (categoryData.CategoryId == c.CategoryId)
                {
                    catcolor = " w3-theme-dark ";
                }
                else
                {
                    catcolor = "";
                }
<a href="@(c.CategoryUrl(sessionParams))" class="w3-bar-item @(catcolor) w3-button w3-text-black w3-padding-large w3-hover-theme" style="text-decoration: none;">@c.Name</a>}
        </div>
    </div>

    <div class="w3-xlarge" style="margin-right:40px;">




        <!-- Header -->
        <div class="w3-container" style="margin-top:80px" id="starters">
            <h1 class="w3-jumbo"><b>The Menu</b></h1>
            <h1 class="w3-xxxlarge w3-text-red"><b>@categoryData.Name</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round" />
        </div>

        @{ var lp1 = 0; }

        @foreach (ArticleLimpet articleData in articleDataList.GetArticleList())
        {
            lp1 += 1;


<div w3-row>
    <div class="w3-col m8">
        <div class="w3-text-blue">@(articleData.Ref) - @(articleData.Name)</div>
        <div class="w3-small w3-margin-left">@BreakOf(articleData.Summary)</div>
    </div>
    <div class="w3-col m4 w3-right-align">@(articleData.Info.GetXmlProperty("genxml/textbox/price"))</div>
</div>

                <div id="sectionanchor@(articleData.Ref)" class="w3-margin">&nbsp;</div>
                                <div class="w3-row w3-padding">
                                    <h2 class="w3-xxxlarge w3-text-teal"><b></b></h2>
                                    <div class="w3-row">

                                    </div>
                                </div>
                                <div class="w3-col m4 w3-right-align">@(articleData.Info.GetXmlProperty("genxml/textbox/test"))</div>                       
                                
         }
    </div>
    
</div>



